<div class="jumbotron">
  <h1>Blocitoff</h1>
  <h4>a self-destructing to-do list</h4>
  <p>Complete your tasks in 7 days or they will automatically be deleted!</p>
  <p>The idea is that if your task is not important enough to be completed in 7 days, it doesn't belong on your list</p>
</div>
