<% unless item.body.nil? %>
  <tr>
    <td><%= item.body %></td>
    <td><%= (7 - ((time_ago_in_words(item.created_at)).to_i)) %></td>
    <td><%= link_to "Complete", [item.list, item], method: :delete %></td>
  </tr>
<% end %>



